/* @media (max-width: 72rem) */
@media (max-width: 72rem) {
  html {
    font-size: 56.25%;
  }
  .navbar-header {
    padding: 2rem;
  }
  .navbar-logo {
    font-size: 3rem;
  }
  .navbar-header .nav-bar-container a {
    font-size: 1.7rem;
    margin: 0 -10px;
  }
  .why-choose-us section svg {
    font-size: 10px;
    width: 20px;
    height: 20px;
  }
  .why-choose-us section h4 {
    font-size: 8px;
  }
}

/* @media (max-width: 51rem) */
@media (max-width: 51rem) {
  html {
    font-size: 50%;
  }
}

/* @media (max-width: 43rem) */
@media (max-width: 43rem) {
  html {
    font-size: 43.75%;
  }
}

/* @media (max-width: 34rem) */
@media (max-width: 34rem) {
  .container {
    overflow: hidden;
  }
  /* .navbar-logo {
    margin-left: 30px;
  } */
  .nav-bar-container {
    display: none;
  }
  .hero-heading {
    /* font-size: 1.8rem; */
    /* line-height: 1.3; */
    text-align: center;
    margin: 25rem auto 0; /* Adjust spacing */
    /* width: 90%; */
    max-width: 90vw;
    /* word-break: break-word; */
  }
  .hero-heading .investment {
    display: inline;
  }
  .hero-paragrapgh {
    font-size: 3rem;
    width: 90%;
    text-align: center;
    margin-top: 1rem;
  }
  .primary-btn {
    font-size: 3rem;
  }
  .about-us-section {
    text-align: center;
    max-width: 90vw;
  }
  .about-heading {
    font-size: 4rem;
    text-align: center;
  }
  .about-paragraph {
    font-size: 2.5rem;
    width: auto;
    text-align: center;
  }
}
