/* @media (max-width: 72rem) */
@media (max-width: 72rem) {
  html {
    font-size: 56.25%;
  }
  .navbar-header {
    padding: 2rem;
  }
  .navbar-logo {
    font-size: 3rem;
  }
  .navbar-header .nav-bar-container a {
    font-size: 1.7rem;
    margin: 0 -10px;
  }
  .why-choose-us section svg {
    font-size: 10px;
    width: 20px;
    height: 20px;
  }
  .why-choose-us section h4 {
    font-size: 8px;
  }
}

/* @media (max-width: 51rem) */
@media (max-width: 51rem) {
  html {
    font-size: 50%;
  }
}

/* @media (max-width: 43rem) */
@media (max-width: 43rem) {
}

/* @media (max-width: 34rem) */
@media (max-width: 34rem) {
  @media (max-width: 34rem) {
    html {
      font-size: 37.5%;
    }
    .container {
      overflow: hidden;
      max-width: 1200px;
      width: 90%;
      margin: 0 auto;
    }
    .hamburger {
      display: flex;
    }
    .nav-bar-container {
      display: none;
      flex-direction: column;
      background-color: #131313;
      position: fixed;
      top: 60px;
      right: 0;
      width: 70vw;
      height: 50vh;
      padding: 2rem 1rem;
      box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
      overflow-y: auto;
      z-index: 1000;
    }
    .nav-bar-container.active {
      display: flex;
    }
    .nav-bar-container li {
      margin-bottom: 1.5rem;
    }
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  .navbar-logo {
    font-size: 4rem;
  }
  .nav-bar-container a {
    color: #ffffff;
  }
  .nav-bar-container .primary-btn {
    color: #0a0a0a;
  }
  .navbar-header a {
    font-size: 5rem;
    font-weight: 500;
  }
  .hero-paragrapgh {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .primary-btn {
    font-size: 2rem;
  }
  .hero-section .primary-btn {
    font-size: 2.5rem;
  }
  .about-us-section {
    margin-top: 8rem;
  }
  .about-heading {
    font-size: 4rem;
  }
  .about-paragraph {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .choose-us-section {
    margin-top: 8rem;
  }
  .choose-us-heading {
    font-size: 4rem;
  }
  .choose-us-paragraph {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .investment-plans {
    margin-top: 8rem;
  }
  .investment-heading {
    font-size: 4rem;
  }
  .investment-paragraph {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .how-it-works-heading {
    font-size: 4rem;
  }
  .testimonal-section {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .testimonal-heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .testimonal-paragrapgh {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .testimonal-investors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 1.65rem;
  }
  .testimonal-investors-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  .testimonal-investors-paragraph {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
  }
  .testimonal-text-star {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .testimonal-investors-name {
    font-size: 2.2rem;
  }
  .testimonal-star {
    font-size: 2rem;
  }
  .faq-heading {
    margin-top: 10rem;
  }
  .faq-heading {
    font-size: 4rem;
  }
  .cta-section {
    margin-top: 10rem;
  }
  .cta-heading {
    font-size: 3.8rem;
  }
  .cta-paragrapgh {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .cta-section a {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .faq-section {
    margin-top: 6rem;
  }
  .faq-question {
    font-size: 1.5rem;
  }
  .faq-answer {
    font-size: 1.5rem;
  }
  .links {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-contact-information {
    font-size: 2rem;
    line-height: 2;
    margin-top: 4rem;
    box-sizing: border-box;
  }
  .footer-contact-information-icon {
    margin-top: 5rem;
  }
  .footer-all-right {
    margin: 10px auto;
  }
  small {
    font-size: 1.5rem;
  }
  .why-choose-us section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 250px;
  }
  .why-choose-us section svg {
    margin-top: 10px;
  }
  .why-choose-us section h4 {
    font-size: 2.5rem;
    text-align: center;
  }
  .why-choose-us section p {
    font-size: 1.7rem;
    line-height: 1.2;
    text-align: center;
  }
}
