* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #131313;
  color: #9a9a9a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* ----- NAVBAR SECTION ----- */

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 10px;
  height: 12vh;
  background-color: #131313;
  margin-top: 0;
}
/* Hamburger icon - hidden on large screens */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  /* top: 15px;  */
  right: 25px;
  z-index: 1100;
  z-index: 1100; /* on top */
}
.hamburger span {
  display: block;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.navbar-logo {
  cursor: pointer;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 900;
  font-size: 2.5rem;
}
.nav-bar-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}
li {
  list-style: none;
  margin: 0 10px;
}
.nav-bar-container a {
  text-decoration: none;
  font-size: 1.5rem;
}
a {
  color: #9a9a9a;
  /* font-size: 0.95rem !important; */
}

/* ----- Hero section ----- */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero-heading {
  font-size: 5rem;
  margin-top: 200px;
}
.investment {
  color: #c5a063;
}

/* ----- COMPONENT ----- */

.hero-heading,
.about-heading,
.choose-us-heading,
.investment-heading,
.how-it-works-heading,
.testimonal-heading,
.faq-heading,
.cta-heading {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: #ffffff;
}

.hero-paragrapgh,
.about-paragraph,
.choose-us-paragraph,
.investment-paragraph,
.testimonal-paragrapgh,
.cta-paragrapgh,
.works-paragraph {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
  width: 80%;
}
.btn {
  border: 2px solid #c5a063;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

.primary-btn {
  color: #0a0a0a;
  background-color: #c5a063;
}
.hero-paragrapgh {
  width: 80%;
}
.hero-section a {
  margin-bottom: 8rem;
}

/* ----- ABOUT SECTION ----- */
.about-us-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
  text-align: center;
}
.about-heading {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

/* ----- CHOOSE US SECTION ----- */
.choose-us {
  margin-bottom: 10rem;
}
.choose-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 2rem;
}
.choose-us-heading {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
.why-choose-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.why-choose-us section {
  width: 30.3%;
  padding: 1.8rem;
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  box-shadow: 0px 0px 10px #0a0a0a;
}
.why-choose-us section svg {
  margin: 1.2rem 0;
  font-weight: 700;
  margin-top: 0;
  background-color: #c5a063;
  width: 40px;
  height: inherit;
}
.why-choose-us section h4 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.choose-us-card-paragraph {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* ----- INVESTMENT PLAN SECTION ----- */
.investment-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 15px;
}
.investment-heading {
  font-size: 2.8rem;
  font-size: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
.investment-plans-section {
  margin-bottom: 10rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.starter-plan {
  width: 30.3%;
  padding: 1.8rem;
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  box-shadow: 0px 0px 10px #0a0a0a;
  padding: 1.25rem;
}
.investment-plan-heading {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.starter-plan li {
  margin: 0.7rem 0;
  font-size: 1.3rem;
}

/* ----- HOW IT WORKS SECTION ----- */
.how-it-works-heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.8rem;
  font-size: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  /* margin-bottom: 10px; */
}
.works-section {
  margin-bottom: 10rem;
}
.works-section-1,
.works-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
  padding: 15px;
}
.works-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  width: 40%;
  max-width: 600px;
  border: 1px solid #0a0a0a;
  box-shadow: 0px 0px 10px #0a0a0a;
}
.works-heading {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.works-paragraph {
  font-size: 1.3rem;
  margin: 0.6rem 0;
}

/* ----- TESTIMONAL SECTION ----- */
.testimonal-section {
  text-align: center;
  margin-bottom: 3rem;
}
.testimonal-heading {
  line-height: 1.5;
  letter-spacing: -2px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 2.8rem;
}
.testimonal-paragrapgh {
  margin: auto;
}
.testimonal-investors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
}
.testimonal-investors-section {
  overflow: hidden;
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  border: 1px solid #0a0a0a;
  box-shadow: 0px 0px 10px #0a0a0a;
}
.img {
  width: 100px;
  border-radius: 50%;
  margin: 10px auto;
}
.testimonal-investors-paragraph {
  font-weight: 400;
  font-size: 0.833rem;
  padding: 10px;
  margin: auto;
  font-size: 1.3rem;
}
.testimonal-investors-name {
  font-size: 1.5rem;
  margin: 10px 0 5px 0;
  font-weight: 400;
  color: #ffffff;
}
.testimonal-star {
  font-size: 1rem;
  cursor: pointer;
}

/* ---- FAQ SECTION ----- */
.faq-heading {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 2rem;
}
.faq-item {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10rem;
}
.faq-answer {
  display: none;
  padding: 15px;
  border-top: 1px solid #131313;
  background-color: #c5a063;
  border: 1px solid #c5a063;
  color: #ffffff;
  font-size: 1.3rem;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #131313;
  color: #9a9a9a;
  border: none;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
}
.faq-question.active + .faq-answer {
  display: block;
}
.arrow {
  transition: transform 0.3s ease;
}
.faq-question.active .arrow {
  transform: rotate(180deg);
}

/* ----- CTA SECTION ----- */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 6rem;
}
.cta-heading {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.cta-paragrapgh {
  max-width: 800px;
}
.cta-link {
  text-decoration: none;
  font-weight: 600;
}

/* ----- FOOTER SECTION ----- */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
  padding: 20px;
  font-size: 1.4rem;
}

.quick-links {
  margin-top: 80px;
}
.footer-quick-link {
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  line-height: 2;
  margin: 0 5px;
}
.footer-quick-link a {
  text-decoration: none;
}
.icon {
  background-color: #c5a063;
  width: 20px;
  border-radius: 10px;
}
.footer-contact-information {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  line-height: 2;
  font-size: 1.4rem;
}
.footer-contact-information-icon {
  margin-top: 50px;
}
.footer-contact-information a {
  text-decoration: none;
}
.footer-newsletter-signup {
  font-weight: 400;
  line-height: 2;
}

input[type="email"] {
  font-size: 0.9rem;
  margin: 0 0 5px 0;
  padding: 6px 30px;
  padding-left: 5px;
  outline: none;
  border-radius: 4px;
  border: 1px solid black;
}

.footer-all-right {
  font-size: 1.4rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0 20px 50px;
}
