/* Desktop */
@media (max-width: 1440px) {
  .container {
    width: 100vw;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    width: 100vw;
  }
}

/* Phone */
@media (max-width: 600px) {
  .container {
    width: 90vw;
  }
}
