/* Desktop */
@media (max-width: 1440px) {
  .container {
    background-color: red;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .container {
    background-color: blue;
  }
}

/* Phone */
@media (max-width: 600px) {
  .container {
    background-color: blueviolet;
  }
}
